name: Lighthouse
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
jobs:
  static-dist-dir:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Run Lighthouse against a static dist dir
        uses: treosh/lighthouse-ci-action@v7
        with:
          configPath: './.github/lighthouserc.json'
          uploadArtifacts: true
